// ----------VARIABLES----------




// ----------mixin----------

@mixin pc {
   @media (min-width: 960px){
      @content;
   }
}

@mixin tablet {
   @media (max-width: 959px){
      @content;
   }
}

@mixin sp {
   @media (max-width: 600px){
      @content;
   }
}

// ----------COMMON----------
body {
   color: rgb(59, 59, 59);
}

h1 {
   text-align: center;
   font-size: 3rem;
   margin: 80px 0 70px;
   @include tablet() {
      font-size: 2.5rem;
   }
}

#first {
   width: 100%;
   margin-top: 150px;
   text-align: center;
   display: flex;
   flex-direction: column;
   .the-title {
      font-size: 3.2rem;
      @include tablet() {
         font-size: 2.8rem;
      }
      @include sp {
         font-size: 2rem;
      }
   }
   .the-desc {
      font-size: 1.3rem;
      margin-top: 40px;
   }
   .go {
      display: block;
      width: 300px;
      height: 50px;
      margin: 40px auto 0;
      border-radius: 10px;
      box-shadow: 0 20px 0 rgb(226, 71, 14);
      line-height: 50px;
      text-align: center;
      color: #fff;
      font-size: 1.4rem;
      font-weight: bold;
      background-color: rgb(255, 121, 72);
      &:hover {
         cursor: pointer;
      }
      &:active {
         box-shadow: none;
         position: relative;
         top: 20px;
      }
   }
   div{
      width: 92%;
      margin: 50px auto 30px;     
      img {
         width: 100%;
      }
   }
}