.wrap {
   width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #5a5a5a;
   p {
      margin: 0;
   }
   .youAre {
      font-size: 2rem;
      span {
         color: red;
         font-size: 3rem;
      }
   }
   .advice {
      margin-top: 30px;
   }
}