.btns {
   margin-top: 40px;
   width: 100%;
   display: flex;
   justify-content: center;
   button {
      display:block; 
      width: 300px;
      background: linear-gradient(to right, rgb(0, 119, 255), rgb(0, 238, 255));
      box-shadow: 0 0.5rem 0.2rem rgba(0, 0, 0, 0.253);
      border: 0.05rem solid rgb(0, 119, 255);
   }
   a {
      margin-left: 20px;
      text-decoration: none;
   }
   
   @media (max-width: 576px) {
      flex-direction: column;
      align-items: center;
      a {
         margin-top: 20px;
         margin-left: 0;
      }
   }
}