.wrap {
   width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #5a5a5a;
   p {
      margin: 0;
   }
   .youAre {
      font-size: 2rem;
      span {
         color: red;
         font-size: 3rem;
      }
   }
   .advice {
      margin-top: 30px;
   }

   @media (max-width: 768px) {
      span {
         display: block;
         margin: 20px auto 0;
         text-align: center;
      }
   }
   @media (max-width: 576px) {
      width: 100%;
      .youAre {
         font-size: 1.2rem;
         span {
            font-size: 2rem;
         }
      }
   }
}