.title {
   font-size: 2.4rem;
   margin-top: 60px;
   text-align: center;
   color: #5a5a5a;
   @media (max-width: 576px) {
      font-size: 2rem;
   }
}

.wrap {
   margin-top: 30px;
   // height: 450px;
   display: flex;
   flex-direction: column;
   color: #5a5a5a;
   p {
      margin: 0;
   }
   @media (max-width: 768px) {
      height: auto;
   }
}

.inspire {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   p {
      font-size: 1rem;
      text-align: center;
      span, a {
         font-size: 1.3rem;
      }
   }
   iframe {
      margin: 40px auto;
      width: 540px;
      height: 300px;
   }
   @media (max-width: 576px) {
      iframe {
         width: 320px;
         height: 180px;
         margin-top: 15px;
      }
   }
}

.me {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   padding-left: 30px;
   p {
      font-size: 1.4rem;
   }
   text-align: center;
   @media (max-width: 576px) {
      width: 100%;
      padding-left: 0;
      p {
         font-size: 1rem;
      }
   }
}

.bottom {
   display:block; 
   width: 300px;
   margin: 40px auto 60px;
   background: linear-gradient(to right, rgb(0, 119, 255), rgb(0, 238, 255));
   box-shadow: 0 0.5rem 0.2rem rgba(0, 0, 0, 0.253);
}